[package]
name = "ndc-sdk"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[lib]
name = "ndc_sdk"
path = "src/lib.rs"

[[bin]]
name = "ndc_hub_example"
path = "bin/main.rs"

[features]
default = ["native-tls", "ndc-test"]

native-tls = ["reqwest/native-tls"]
rustls = ["reqwest/rustls"]

ndc-test = ["dep:ndc-test"]

[dependencies]
ndc-models = { git = "http://github.com/hasura/ndc-spec.git", tag = "v0.1.2" }
ndc-test = { git = "http://github.com/hasura/ndc-spec.git", tag = "v0.1.2", optional = true }

async-trait = "0.1.79"
axum = "0.6.20"
axum-extra = "0.8.0"
bytes = "1.6.0"
clap = { version = "4.5.4", features = ["derive", "env"] }
http = "0.2"
mime = "0.3.17"
opentelemetry = "0.22.0"
opentelemetry-http = "0.11.1"
opentelemetry-otlp = { version = "0.15.0", features = ["reqwest-rustls", "gzip-tonic", "tls", "tls-roots", "http-proto"] }
opentelemetry-semantic-conventions = "0.14.0"
opentelemetry_sdk = { version = "0.22.1", features = ["rt-tokio"] }
opentelemetry-zipkin = { version = "0.20.0", default-features = false, features = ["reqwest-rustls"] }
prometheus = "0.13.3"
reqwest = "0.11.27"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = { version = "1.0.115", features = ["raw_value"] }
thiserror = "1.0"
tokio = { version = "1.36.0", features = ["fs", "macros", "rt-multi-thread", "signal"] }
tower-http = { version = "0.4.4", features = ["cors", "trace", "validate-request"] }
tracing = "0.1.40"
tracing-opentelemetry = "0.23.0"
tracing-subscriber = { version = "0.3", default-features = false, features = ["ansi", "env-filter", "fmt", "json"] }
url = "2.5.0"

[dev-dependencies]
axum-test-helper = "0.3.0"
