name: format

on:
  push:

jobs:
  cargo-fmt:
    name: check formatting with cargo fmt
    runs-on: ubuntu-latest
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      RUSTFLAGS: "-D warnings" # fail on warnings
    steps:
      - uses: actions/checkout@v5

      - name: install Rust tools
        run: |
          rustup show

      - name: check formatting
        run: |
          cargo fmt --all --check

  nixpkgs-fmt:
    name: nixpkgs-fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix ❄
        uses: DeterminateSystems/nix-installer-action@v9

      - name: check formatting
        run: |
          nix develop --command nixpkgs-fmt --check .

  prettier:
    name: prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix ❄
        uses: DeterminateSystems/nix-installer-action@v9

      - name: check formatting
        run: |
          nix develop --command prettier --check .
